nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
}

.logo img {
    height: 50px; /* ajustează dimensiunea imaginii conform nevoilor tale */
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions a,
.user-actions button {
    margin-left: 10px;
}
