<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='category.css') }}">
	<title>Category - {{ category }}</title>
</head>

<body>
	<nav class="main-nav">
		<!-- Navigation Bar -->
		<div class="logo_website">
			<a href="{{ url_for('index') }}">
				<img src="{{ url_for('static', filename='icons/logo.jpg') }}" alt="Logo">
			</a>
		</div>
		<div class="user_actions">
			{% if current_user.is_authenticated %}
			<div class="user-profile">
				<a href="{{ url_for('myprofile') }}" class="profile-link">
					<p>Hi, <span id="username">{{ user.name }}</span></p>
					{% if img_str %}
					<img src="data:image/jpeg;base64,{{ img_str }}" alt="User Profile">
					{% endif %}
				</a>
			</div>
			<a href="{{ url_for('logout') }}">
				<img src="{{ url_for('static', filename='icons/logout.png') }}" alt="Logout">
			</a>
			{% else %}
			<a href="{{ url_for('login') }}">
				<img src="{{ url_for('static', filename='icons/login.png') }}" alt="Login">
			</a>
			<a href="{{ url_for('register') }}">
				<img src="{{ url_for('static', filename='icons/register.png') }}" alt="Register">
			</a>
			{% endif %}
			<a href="{{ url_for('add_announcement') }}">
				<img src="{{ url_for('static', filename='icons/add_announcement.png') }}" alt="Add Announcement">
			</a>
		</div>
		<!-- End Navigation Bar -->
	</nav>

	<div class="separator"></div>

	<!-- Second Navigation Bar with Search Bar -->
	<div class="search-container">
		<form action="{{ url_for('search_results') }}" method="GET">
			<div class="search-bar">
				<input type="text" name="query" placeholder="Search...">
				<select name="category">
					<option value="all">All Categories</option>
					<option value="imobiliare">Real Estate</option>
					<option value="automobile">Automobile</option>
					<option value="servicii">Services</option>
					<option value="electronics">Electronics</option>
					<option value="pets">Pets</option>
					<!-- Add more options as needed -->
				</select>
				<button type="submit" class="search-btn">!<i class="fa fa-search"></i></button>
			</div>
		</form>
	</div>

	<div class="separator"></div>

	<h1>Announcements for {{ category }}</h1>

	<div class="separator"></div>

	<div class="ads-container">
		<div class="announcement-list">
			{% for announcement in announcements %}
			{% if announcement.publisher_name %}
			<a href="{{ url_for('announcement_page', announcement_id = announcement.id) }}" class="announcement-item">
				<div class="announcement-content">
					<div class="announcement-image">
						<img src="data:image/jpeg;base64,{{ announcement.main_photo }}" alt="Announcement Image">
					</div>
					<div class="details">
						<h2>{{ announcement.name }}</h2>
						<span>Price: {{ announcement.price }}$</span>
						<p>User: {{ announcement.publisher_name }}</p>
					</div>
				</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>

	<footer class="footer">
		<p>&copy; 2023 Announcements Website. All rights reserved.</p>
	</footer>

</body>

</html>
