<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	<title>Home Page</title>
	<script src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<body>
	<nav class="main-nav">
		<!--Nav Bar-->
		<div class="logo_website">
			<img src="{{ url_for('static', filename='link') }}" alt="Logo">
		</div>
		<div class="user_actions">
			{% if current_user.is_authenticated %}
			<div class="user-profile">
				<a href="{{ url_for('myprofile') }}" class="profile-link">
					<p>Hi, <span id="username">{{ user.name }}</span></p>
					{% if img_str %}
						<img src="data:image/jpeg;base64,{{ img_str }}" alt="User Profile">
					{% endif %}
				</a>
			</div>
			<a href="{{ url_for('logout') }}">
				<img src="{{ url_for('static', filename='icons/logout.png') }}" alt="Logout">
			{% else %}
			<a href="{{ url_for('login') }}">
				<img src="{{ url_for('static', filename='icons/login.png') }}" alt="Login">
			</a>
			<a href="{{ url_for('register') }}">
				<img src="{{ url_for('static', filename='icons/register.png') }}" alt="Register">
			</a>
			{% endif %}
		</a>
		<a href="{{ url_for('add_announcement') }}">
			<img src="{{ url_for('static', filename='icons/add_announcement.png') }}" alt="Add Announcement">
		</a>
		</div>
		<!--End Nav Bar-->
	</nav>

	<div class="separator"></div>

	<!-- Second Nav Bar with Search Bar -->
	<div class="search-container">
		<div class="search-bar">
			<input type="text" placeholder="Search...">
			<button class="search-btn">!<i class="fa fa-search"></i></button>
		</div>
	</div>

	<div class="separator"></div>

	<span class="category-title">Categorii principale</span>
	<div class="categories">
		<a href="{{ url_for('index') }}">
			<img src="{{ url_for('static', filename='categories_photos/imobiliare.png') }}" alt="Imobiliare Image">			
			<span>Imobiliare</span>
		</a>

		<a href="{{ url_for('index') }}">
			<img src="{{ url_for('static', filename='categories_photos/automobileicon.webp') }}" alt="Automobile Image">
			<span>Automobile</span>
		</a>

		<a href="{{ url_for('index') }}">
			<img src="{{ url_for('static', filename='categories_photos/servicii.png') }}" alt="Servicii Image">
			<span>Servicii</span>
		</a>
		<!-- Categories content -->
	</div>

</body>

</html>
