<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Profile</title>
	<link rel="stylesheet" href="static/myprofile.css"> <!-- Link to your CSS file -->
</head>
<body>
	<h1>Welcome, <span id="username">{{ user.name }}</span></h1>
	<p>Email: <span id="useremail">{{ user.email }}</span></p>
	<!-- Display other user information as needed -->
	
	<div id="profilePic">
		<!-- Check if the image data is available -->
		{% if img_str %}
			<img id="profileImage" src="data:image/jpeg;base64,{{ img_str }}" alt="Profile Picture">
		{% else %}
			<p>No profile picture available</p>
		{% endif %}
	</div>

	<!-- User data section container -->
	<div class="user-data">
		<h2>Announcement History</h2>
		<table>
			<thead>
				<tr>
					<th>Category</th>
					<th>Name</th>
					<th>Description</th>
					<!-- Add more columns if needed -->
				</tr>
			</thead>
			<tbody>
				<!-- Loop through user's announcements and display each announcement -->
				{% for announcement in announcements_data %}
					<tr>
						<td>{{ announcement[0] }}</td>
						<td>{{ announcement[1] }}</td>
						<td>{{ announcement[2] }}</td>
						<!-- Add more cells with announcement details -->
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<script src="static/myprofile.js"></script> <!-- Link to your JavaScript file -->
</body>
</html>
